extends layout

block content
  div(class="dashboardTitle") 
    a(class="" href="/users/home")
      p(class="usernameDash") Welcome #{username}
    div(class="topnav-right")
      a(class="logout" href="/users/logout") Logout
  div(class="dashboard")
    div(clas="leagues")
      div(class="addLeague")
        p(class="secTitle") 
          b 
            U Join League
        div
          form(action="../leagues/join" method='POST' enctype="application/x-www-form-urlencoded")
            table(class="addLeagueTable")
              tr 
                th 
                  span League Code
                td 
                  input(type="text" name="leagueID" id="leagueID")
                  input(type="hidden" name="email" value=email)
                td  
                  button(id="create" type="submit" ) Join
      div(class="addLeague")
        p(class="secTitle") 
          b 
            U Create League
        div
          form(action="../leagues/create" method='POST' enctype="application/x-www-form-urlencoded")
            table(class="addLeagueTable")
              tr 
                th 
                  span League Name
                td 
                  input(type="text" name="leagueName" id="leagueName")
                td 
                  button(id="create" type="submit" ) Create