extends layout

block content
  div(class="container") 
    div(class="box")
      form(action='/users/changepass' method='POST' enctype="application/x-www-form-urlencoded")
        table 
          tr 
            th 
              label(for="email") Email
            td
              input(type="text" name="email" id="email")
          tr
            th 
              label(for="oldPassword") Old Password
            td 
              input(type="password" name="oldPassword" id="password")
          tr
            th 
              label(for="newPassword") New Password
            td 
              input(type="password" name="newPassword" id="password")
          tr
            th 
              label(for="confirmPassword") Confirm Password
            td 
              input(type="password" name="confirmPassword" id="password")
        br
        br
        button(class="MakePredictBtn" type="submit") Change Password